.section {
  background-color: #eecdcd;
}

.timelineContainer {
    padding: 40px;
    max-width: 1500px;
    margin: 0 auto;
  }

.timelineElement {
  margin-bottom: 100px;
}

.icon {
  width: 63px;
  height: 63px;
  border-radius: 100%;
  object-fit: cover;
  position: justify;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-family: 'Bebas Neue', sans-serif;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}
