.section {
  background-color: #eecdcd;
  padding: 50px;
}

.maintitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
}

.maindescription {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto 10px auto;
}

.timelineContainer {
    padding: 40px;
    max-width: 1500px;
    margin: 0 auto;
  }

.timelineElement {
  margin-bottom: 100px;
}

.icon {
  width: 63px;
  height: 63px;
  border-radius: 100%;
  object-fit: cover;
  position: justify;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-family: 'Bebas Neue', sans-serif;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}

.profilePic {
  margin-left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* Adjust as needed */
  margin-top: 10px;
  transition: opacity 0.5s ease; /* Smooth transition for image changes */
  opacity: 1;
  width: 200px; /* Fixed width for the image container */
  height: 200px; /* Fixed height for the image container */
  overflow: hidden; /* Ensures any overflow is hidden */
}

.profilePic img {
  width: 100%; /* Ensures the image scales to the container width */
  height: 100%; /* Ensures the image scales to the container height */
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

.fadeOut {
  opacity: 0;
}