@tailwind base;
@tailwind components;
@tailwind utilities;


#footer {
  margin-top: 0; /* Ensure no extra margin at the top of the footer */
}

/* Ensure the main content takes up the full height minus the footer */
main {
  min-height: calc(100vh - 4rem); /* Adjust '4rem' to match your footer height */
}

header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the header stays above other elements */
  background-color: white; /* Ensure the background is consistent */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  padding: 1rem; /* Padding for the header */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .font-bebas {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem; /* Adjust this value to your desired size */
  color: black;
  cursor: pointer;
}

header .font-bebas.active {
  font-weight: bold;
  color: red;
}

header nav button {
  font-size: 1.2rem; /* Adjust this value to your desired size */
  background: none;
  border: none;
  cursor: pointer;
}

header nav button.active {
  font-weight: bold;
  color: red;
}

.last-update {
  margin-left: auto; /* Push this div to the right */
  font-size: 0.875rem; /* Adjust font size as needed */
}